<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

	<head>
		<title>CuichetteLand:Articles</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">Logo</a></h1>
					<nav id="nav">

						<ul>
							<li><a href="index.html">Accueil</a></li>
							<li>
								<a href="#">Accéder au magasin</a>
							</li>
							<li><a href="elements.html">Messagerie</a></li>
							<li><a href="#" class="button special">Se connecter</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Articles</h2>
							<p>Bienvenu sur la présentation des articles</p>
						</header>

						<!-- Text -->
							<section>
								<h3>Petite et grande cuichette</h3>
								<p>La <b>cuichette</b> vous permettra d'avoir un seul couvert lors de vos sorties.
								Oubliez <i>la panique</i> lorsque vous oubliez la cuillière ! Avec nos cuichettes du deux en un ! </p>

								<hr />

								<header>
									<h3></h3>

										<p> Une cuillère-fourchette ou fourchette-cuillère est une forme hybride de couvert de table conçu pour remplir alternativement le rôle d'une cuillère et celui d'une fourchette. Appelé couramment "Cuichette", il adopte la forme de pelle d’une cuillère et les trois ou quatre pointes d’une fourchette.
											Que vous l’appeliez “cuichette”  ou “fourchillère”, vous devrez bien admettre que nous devons beaucoup au génie qui a eu l’extraordinaire idée de fusionner la fourchette et la cuillère.</p>
		</header>
	</code></pre>
							</section>

						<!-- Icons -->


						<!-- Table -->
							<section>
								<h3></h3>
								<h4>Produits</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Nom</th>
												<th>ID</th>
												<th>Prix</th>
												<th> Catégorie</th>
											</tr>
										</thead>
										<tbody>

											{% for produit in cuichette 	%}
						<tr>
											<td>{{produit.nom}}</td>
											<td> {{produit.id}}</td>
											<td>{{produit.prix}}</td>
												<td>{{produit.categorie}}</td>

																							<td><a href="#" class="button special">Acheter</a></td>
																						</tr>
												{%endfor%}
										</tbody>
										<tfoot>
										</tfoot>
									</table>
								</div>
								<h4></h4>
								<ul class="icons">
									<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
									<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
								</ul>
							</div>
						</div>


					</div>
				</div>
		</div>
	</body>
</html>
