			{% extends "CuichetteLandwebsiteBundle::layout.html.twig" %}
			{% block body %}
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<div class="table-wrapper">
							<h2 class="form-signin-heading">Login</h2>
							<form action="{{ path('login_check') }}" method="post">
								<label for="username" class="sr-only">Login :</label>
								<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Adresse email" required autofocus/>
								<br/>
								<label for="password" class="sr-only">Mot de passe :</label>
								<input type="password" id="password" name="_password" placeholder="mot de passe" required autofocus />
								<br />
								<input type="submit" value="Connexion" />
							</form>
							{% if error %}
							<div class="button special fit">Identifiants incorrects</div>
							{% endif %}
						</div>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>
			{% endblock %}