{% extends "CuichetteLandwebsiteBundle::layout.html.twig" %}
			{% block body %}

			<!-- Banner -->

				<section id="banner">
					<div class="content">
						<div class="table-wrapper">
							<form class="form-signin" action="/register" method="post">
								<h2 class="form-signin-heading">Inscription</h2>
									<label for="lastname" class="sr-only">Nom</label>
									<input type="text" name="lastname" class="form-control form1" placeholder="Nom" required autofocus>
								<br/>
									<label for="firstname" class="sr-only">Prénom</label>
									<input type="text" name="firstname" class="form-control form2" placeholder="Prénom" required autofocus>
								<br/>
									<label for="email" class="sr-only">Adresse Email</label>
									<input type="email" name="email" class="form-control form2" placeholder="Adresse Email" required autofocus>
								<br/>
									<label for="password" class="sr-only">Mot de passe</label>
									<input type="password" name="password" class="form-control form2" placeholder="Mot de passe" required>
								<br/>
									<label for="passwordverif" class="sr-only">Confirmer le mot de passe</label>
									<input type="password" name="passwordverif" class="form-control form3" placeholder="Confirmer le mot de passe" required>
								<br/>
							{% if email is defined %}
								<div class="alert alert-danger">Cette adresse email est déjà associée à un compte</div>
							{% endif %}
								<button id="btnIscription" class="button special" type="submit">S'inscrire</button>
								<div id="test" hidden>
							* Validation du mot de passe incorrecte
							</div>
						</form>
					</div>
				</div>
			<a href="#one" class="goto-next scrolly">Next</a>
				</section>
		{% endblock %}


