			{% extends "CuichetteLandwebsiteBundle::layout.html.twig" %}
			{% block body %}
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<ul class="alt">
						<li><h2>{{email[0]['mail']}}</h2></li>
						<li><h3>{{email[1]}}</h3></li>
						<li><pre>{{email[2]}}</pre></li>
						</ul>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>
			{% endblock %}