	{% extends "CuichetteLandwebsiteBundle::layout.html.twig" %}
		{% block body %}
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						{{ form(form) }}
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>
		{% endblock %}